/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilo base */
body {
  font-family: Arial, sans-serif;
  background-color: #F7F4F1; /* Fondo suave para el sitio */
  color: #333;
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  font-weight: bold;
}

.item-list-container h2 {
  font-size: 2rem;
  color: #B4A79E;
  font-weight: bold;
}

h2, h3, h4, h5, h6 {
  font-weight: normal;
}

/* Espaciado general */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Ajustes generales */
button {
  cursor: pointer;
  border: none;
  outline: none;
}

img {
  max-width: 100%;
  display: block;
}

